## Data Science with Python Pandas

In [9]:
import pandas as pd
import numpy as np

# Create a series
pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a   -0.587994
b   -0.609883
c    0.357317
d   -0.568022
e   -1.666627
dtype: float64

In [15]:
# Preserve the series in a variable for later access
s = pd.Series(np.random.randn(5))
print(s)

0    1.140008
1   -1.063826
2   -1.878128
3   -0.270822
4    0.156922
dtype: float64

In [16]:
s[1]

-1.0638258845101674

In [17]:
s[:2]

0    1.140008
1   -1.063826
dtype: float64

In [19]:
# Create a dataFrame
df = pd.DataFrame(s, columns = ['Column 1'])
df

   Column 1
0  1.140008
1 -1.063826
2 -1.878128
3 -0.270822
4  0.156922

In [20]:
# access column by name
df['Column 1']

0    1.140008
1   -1.063826
2   -1.878128
3   -0.270822
4    0.156922
Name: Column 1, dtype: float64

In [22]:
# other manioulation, like sorting -- if you want to preserve, set equal to a var
df.sort_values(by = 'Column 1')

   Column 1
2 -1.878128
1 -1.063826
3 -0.270822
4  0.156922
0  1.140008

In [23]:
#easy to add columns
df['Column 2'] = df['Column 1']*4
df

   Column 1  Column 2
0  1.140008  4.560033
1 -1.063826 -4.255304
2 -1.878128 -7.512511
3 -0.270822 -1.083289
4  0.156922  0.627689

In [27]:
df[df['Column 2'] < 2]

   Column 1  Column 2
1 -1.063826 -4.255304
2 -1.878128 -7.512511
3 -0.270822 -1.083289

In [28]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean  -0.383169 -1.532676
std    1.153536  4.614145
min   -1.878128 -7.512511
25%   -1.063826 -4.255304
50%   -0.270822 -1.083289
75%    0.156922  0.627689
max    1.140008  4.560033

In [29]:
df.apply(lambda x: min(x) + max (x))

Column 1   -0.738120
Column 2   -2.952478
dtype: float64